/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  margin: 60px auto;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman",
    serif;
  background-color: #f6f5ed;
  color: #484848;

  width: 580px;
  font-size: 18px;
  line-height: 26px;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
}

header a {
  color: #484848;
  text-decoration: none;
  border-bottom: 1px dotted #999892;
}

header a:visited {
  color: #484848;
}

footer {
  border-top: 1px solid rgb(206, 206, 206);

  margin-top: 48px;
  padding-top: 24px;

  font-size: 14px;
}

header a:hover {
  border-bottom: 1px solid #999892;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  font-weight: normal;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body.post h1 {
  margin-bottom: 5px;
}

body.post header p {
  font-size: 14px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: normal;
}

h3 {
  margin-top: 20px;
  margin-bottom: 5px;

  font-size: 20px;
  font-weight: bold;
}

pre {
  font-size: 15px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  width: auto;
}

img {
  width: 10rem;
  height: auto;
  flex-shrink: 0;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* SMALL SCREENS */
@media screen and (max-width: 580px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
  }

  img {
    width: 12rem; /* md:w-48 */
  }

  .header-section {
    flex-direction: column;
  }

  body {
    margin: 10px auto;
    padding: 0 20px 0 20px;
    width: auto;
    word-wrap: break-word;
  }

  pre {
    font-size: 14px;
    line-height: 16px;
  }

  .video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-wrap iframe,
  .video-wrap object,
  .video-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

a {
  color: #c30c0c;
}

a:visited {
  color: gray;
}

p {
  margin: 0 0 2ex 0;
}

ul {
  margin: 0 0 2ex 0;
  padding: 0;
}

li {
  margin: 0 0 0 20px;
  padding: 0;
}

.cover-left {
  width: 49%;
  float: left;
  padding-right: 2%;
}

.cover-right {
  width: 49%;
  float: left;
}

.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.picture-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  border-radius: 8px;
}
